# Resend
RESEND_API_KEY=
EMAIL_FROM="OZ Rent A Plane <info@ozrentaplane.com>"
EMAIL_REPLY_TO=info@ozrentaplane.com
ADMIN_EMAIL=info@ozrentaplane.com

# App URL
APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
